name: PullRequest-CI

on: [pull_request]

jobs:
   build:
      runs-on: ubuntu-22.04

      steps:
         - uses: actions/checkout@v1

         - name: Create Package
           uses: BigWigsMods/packager@v2
           with:
              args: -d -z

         - uses: actions/upload-artifact@master
           with:
              name: QuickFind-PR
              path: .release/
              include-hidden-files: true
